<div class="row">
    <div class="col-md-4 mx-auto">
        <img src="test-de-pruebas-psicosometricas.jpg" alt="Test Yauali" class="card-img-top">
        <div class="card-body">
            <h2>$100 USD</h2>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
            </p>
        </div>
        <div class="card-footer">
            <form action="/checkout" method="POST">
                <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                data-key="pk_test_51GtTlWGPxfI1kDf8DpX8XBaOPGv3x9oY2Gz4ei7XydcO19GgVsvIEldewuRo1wfgW4ZcPazG1BQGBysAgFysBJSR00tUW9iAU2" data-amount="10000"
                data-name="Yauali demo"
                data-description="Prueba de pago"
                data-image="/yauali.png"
                data-locale="auto">
                </script>
                <script>
                    document.getElementsByClassName('stripe-button-el')[0].style.display = 'none';
                </script>
                <button class="btn btn-dark btn-block">Comprar<i class="fa fa-shopping-cart"></i></button>
            </form>
            
        </div>
    </div>
</div>