<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Yauali</title>
    <link rel="stylesheet" href="https://bootswatch.com/4/sandstone/bootstrap.min.css">
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="main.css">
</head>
<body>
    <nav class="navbar navbar-dark bg-primary p-2">
        <div class="container" >
            <a href="" class="navbar-brand">Yauali</a>
        </div>
    </nav>
    
    <div class="container">
        {{{ body }}}
    </div>
    
</body>
</html>